################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/
*.ipch
*.obj
/.vs/Trixs/v15/Browse.VC.opendb
/Debug/Trixs.exe
/Debug/Trixs.ilk
/Debug/Trixs.pdb
/.vs/Trixs/v15/.suo
/.vs/Trixs/v15/Browse.VC.db
/x64/Debug/
/packages/